@import "tailwindcss";

:root {
	--card-width: 110px;
	--card-gap: 5px;
	--card-height: 140px;
	--transition-duration: 700ms;
	--zoom: zoom 0.5s ease-in-out forwards;
	--accent: #3a1f4e;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}
